.container_principal{
    width: 90%;
    height: 100vh;
    display: flex;
    margin: auto;
}

.container_esquerda{
    width: 65%;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container_esquerda img{
    width: 100%;
    height: 300px;
}

.container_esquerda h2{
    justify-content: flex-start;
    width: 40%;
}