:root{
    --fonte-principal: "Poppins", sans-serif;
    --cor-do-botao-fundo: #d5ddd5;
    --cor-preta: #000;
    --cor-branca: #fff;
    --nome-da-tecnologia: #fdb7b7;
    --height-padrao: 450px;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

.container_principal{
    width: 90%;
    min-height: 100vh;
    display: flex;
    margin: auto;
}

.container_esquerda{
    width: 65%;
    height: var(--height-padrao);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container_esquerda img{
    width: 100%;
    height: 300px;
}

.botao_lermais{
    text-align: center;
    color: var(--cor-preta);
    width: 120px;
    list-style: none;
    text-decoration: none;
    padding: 7px 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-do-botao-fundo);
}

.paragrafo{
    width: 100%;
    height: 150px;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.paragrafo p{
    margin-bottom: 20px;
}

.container_direita{
    width: 30%;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-preta);
    margin-left: 45px;
    padding: 10px 10px 40px 10px;
}

.subtitulo{
    color: var(--cor-branca);
    padding: 20px 0 0 0; 
    font-size: 13px;
}

.subtitulo h2{
    padding: 30px 0 10px 0;
}

.subtitulo h1{
    padding: 0 0 20px 0;
    color: var(--nome-da-tecnologia);
}

.paralink{
    padding: 5px 0 0 70px;
}